@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 254, 252, 255;
  --background-end-rgb: 254, 252, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "mr-eaves-xl-modern-narrow", sans-serif;
}
p {
  font-family: "mr-eaves-xl-sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}
.background-pattern {
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
}
.mcm-border {
  position: relative;
  width: 100%;
  height: 100%;
}

.mcm-corner {
  position: absolute;
  width: 50px; /* Adjust based on size */
  height: 50px;
}

.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
